.login-wrapper{
    width: 100%;
    height: 100vh;
}
.login-container{
    background-color: #283854;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.login-form{
    width: 100%;
    max-width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    padding: 26px;
    border-radius: 8px;
    margin-top: 150px;
}
.form{
    width: 100%;
}
.login-form h5{
    font-size: 26px;
}
.login-form label{
    font-weight: bold;
}
.login-phone{
    display: flex;
    flex-direction: column;
}
.login-form input{
    padding: 10px 10px;
    background-color: #f9f6f6;
    outline: none;
    margin: 5px 0px 10px 0px;
    border: 1px solid #b2afaf;
    border-radius: 5px;
}
.form-btn{
    width: 100%;
    padding: 5px 0px;
    background-color: #283854;
    color: white;
    border-radius: 5px;
}
.login-text{
    margin-top: 5px;
    text-align: center;
}
.login-signup{
    color: orange;
}
.login-form input::placeholder{
    opacity: 0.6;
    font-weight: bold;
}
.login-signup{
    font-weight: bold;
}
.Loading-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    z-index: 1000;;
}
.error-message {
    color: red;
    font-size: 0.9rem;
    margin-bottom: 10px;
    text-align: center;
}
.error-text {
    color: red;
    font-size: 0.8rem;
}
